<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /pages/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ /pages/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^pages/(.+)$ /$1 [L]
</IfModule>

ErrorDocument 404 /pages/notfound.php
