.confirmDelete {
	flex-direction: column;

	padding: 20px;

	width: 400px;
}

.confirmDelete h2 {
	margin-bottom: 20px;
}

.confirmDelete a {
	margin-bottom: 20px;
}

.confirmDelete label {
	margin-bottom: 20px;
}
