.mainGroup {
	display: flex;
	align-items: center;
	flex-direction: row;
	user-select: none;
}

.col3 {
	user-select: text;
}

/* Side menu */
#lateralSelector {
	width: calc(15%);
	vertical-align: top;
	padding: 20px;
	height: fit-content;
	margin-right: 0;
}

.classname {
	margin: 5px 3% 5px 3%;
	padding: 5px;
	font-size: 20px;
	cursor: pointer;
	border-radius: 9px;
	max-height: 80%;
}

input {
	padding: 15px;

	background: var(--case-field-background-color);
	border: 0;
	border-radius: 7px;
	font-size: 20px;
	color: var(--text-color);
	transform: translateY(1px);

	width: 100px;
	height: 9px;
}

input::placeholder {
	color: var(--case-field-text-color);
}

.classname:hover {
	background-color: var(--button-hover-color);
}

.classname[selected] {
	background-color: var(--button-background-color);
	color: var(--button-text-color);
}

.contentClassroom {
	display: none;
}

.contentClassroom[selected] {
	display: block;
}

.contentClassroom h2 {
	margin: 10px;
}

.selectStudent {
	background: var(--case-field-background-color);
	border: 0;
	border-radius: 7px;
	font-size: 15px;
	padding: 9px;
	color: var(--text-color);
	cursor: pointer;
}
