/* Variables */
:root {
	--text-color: #FFFFFF;
	--text-hover-color: #9b9b9b;

	--navbar-background-color: #0B0A1D;
	--background-hover-color: #05005C;

	--button-background-color: #5e1838;
	--button-hover-color: #74294a;

	--background-case-color: #00000069;
	--case-border-color: #a8a8a875;
	--case-field-background-color: #c4c4c475;
	--case-field-text-color: #ffffff90;
}
