/* Variables */
:root {
	--text-color: #FFFFFF;
	--text-hover-color: #9b9b9b;
	--background-image: url("/public/img/background/dark/default.png");

	--icon-yellow-color: #F4EB6D;

	--background-hover-color: #05005C;

	--button-background-color: #7c1041;
	--button-hover-color: #973660;
	--button-text-color: #ffdafd;

	--background-case-color: #00000069;
	--case-border-color: #a8a8a875;
	--case-field-background-color: #9e9e9e;
	--case-field-text-color: #ffffff90;
}
