.button-container {
	margin-top: 6vh;
	padding: 10px;

	user-select: none;

	width: fit-content;
	height: fit-content;
	max-width: 100%;
}

.buttonBox {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-container a:not(.button, .back) {
	padding: 10px;
}

.button-container h2 {
	margin: 10px;
	margin-bottom: 20px;
}

.button-container a:not(.back) {
	text-decoration: none;

	margin-left: 17px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.col1, .col2 {
	text-align: left;
}

.screenShareButton {
	background: 0;
	border: 0;
	font-size: 23px;
	transform: translateY(2px);
	color: var(--text-color);
	transition: 200ms;

	margin-left: 14px;

	cursor: pointer;
}

.screenShareButton:hover {
	color: var(--text-hover-color);
	transition: 200ms;
}
