.main {
	user-select: none;
}

.errormain {
	display: block;
    width: 80%;
    margin: auto;
	margin-top: 25vh;
    text-align: center;
}

.errortitle {
	font-weight: bold;
	font-size: 70px;
}

.errorsubtitle {
	font-size: 30px;
}
