footer {
	margin-top: 6vh;
	width: 100%;
	background-color: var(--background-case-color);
	color: var(--text-color);
	padding: 10px;
	backdrop-filter: blur(12px);
	border-top: 2px solid var(--case-border-color);
	user-select: none;
}

footer a {
	transform: translateY(2px);
}

footer .item {
	display: flex;
	flex-direction: row;
	justify-content: center;

}

footer .linkGroup {
	margin-left: 20px;
}

footer .link {
	text-decoration: none;
	font-size: 21px;
}
