footer {
	margin-top: 6vh;
	width: 100%;
	background-color: var(--background-case-color);
	color: var(--text-color);
	padding: 10px;
	backdrop-filter: blur(12px);
	border-top: 2px solid var(--case-border-color);
	user-select: none;
	box-shadow: 0 0 30px 5px #00000030;
}

footer a {
	transform: translateY(2px);
}

footer .item {
	display: flex;
	flex-direction: row;
	justify-content: center;

}

footer .linkGroup {
	margin-left: 20px;
	margin-right: 20px;
}

footer .link {
	text-decoration: none;
	font-size: 21px;
	transition: 200ms;
}

footer .link:hover {
	color: var(--text-hover-color);
	transition: 200ms;
}

footer .version {
	font-style: italic;
}
