/* Main container */
.mainform {
	display: flex;
	flex-direction: column;
	text-align: center;

	padding: 20px;

	user-select: none;

	max-width: fit-content;
}

/* Title */
.mainform h2 {
	margin-bottom: 20px;
	padding-bottom: 10px;

	font-size: 30px;
}

/* Inputs */
.mainform input {
	padding: 15px;
	margin-bottom: 25px;

	background: var(--case-field-background-color);
	border: 0;
	border-radius: 7px;
	font-size: 20px;
	color: var(--text-color);
}

.mainform input::placeholder {
	color: var(--case-field-text-color);
}

.mainform input:focus {
	outline: none !important;
}

/* Buttons */
.showPasswordButton {
	position: absolute;
	transform: translateY(10px);

	right: 30px;
	border: none;
	background: none;
	font-size: 26px;
	background-color: var(--case-field-background-color);

	cursor: pointer;
}

.link {
	color: var(--text-color);
	text-decoration: none;
	font-size: 18px;
	transition: 200ms;
}

.link:hover {
	color: var(--text-hover-color);
	transition: 200ms;
}
