/* Main container */
.mainform {
	display: flex;
	flex-direction: column;
	text-align: center;

	text-wrap: balance;

	padding: 20px;

	user-select: none;

	max-width: fit-content;
}

.subform {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	display: flex;
	flex-direction: row !important;
}

.column {
	display: flex;
	flex-direction: column;

	padding: 20px;

	width: 320px;
}

/* Title */
.mainform h2 {
	margin-bottom: 20px;
	padding-bottom: 10px;

	font-size: 28px;
}

.mainform h2 i {
	margin-right: 5px;
}

/* Inputs */
.mainform input, .mainform textarea, .mainform select {
	padding: 15px;
	margin-bottom: 25px;

	background: var(--case-field-background-color);
	border: 0;
	border-radius: 7px;
	font-size: 20px;
	color: var(--text-color);

	overflow: hidden;

	width: -webkit-fill-available;
	width: -moz-available;
}

.mainform textarea {
	resize: vertical;

	min-height: 24px;
}

.mainform input::placeholder, .mainform textarea::placeholder {
	color: var(--case-field-text-color);
}

.mainform input:focus, .mainform textarea:focus {
	outline: none !important;
}

/* Buttons */
.mainform .button {
	width: fit-content;
}

.mainform .showPasswordButton {
	position: absolute;
	transform: translateY(10px);

	right: 30px;
	border: none;
	background: none;
	font-size: 26px;
	background-color: var(--case-field-background-color);

	cursor: pointer;
}

.link {
	color: var(--text-color);
	text-decoration: none;
	font-size: 18px;
	transition: 200ms;
	border: 0;
	background: 0;

	cursor: pointer;
}

.link:hover {
	color: var(--text-hover-color);
	transition: 200ms;
}

/* Date */
.mainform #date{
	border-radius: 7px;
	border: 0;
	font-size: 16px;
	outline: none;
	background: var(--case-field-background-color);

	padding: 8px;

	height: 35px;
	width: -webkit-fill-available;
	width: -moz-available;
}

.mainform input[type="datetime-local"]::-webkit-calendar-picker-indicator {
	mask: url("/public/img/icon/calendar-2-line.svg");
	background: var(--text-color);
	outline: none;

	margin-right: 10px;
}
