.boxGroup {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 5%;
	margin-right: 5%;
	justify-content: center;
}

.mainbox {
	display: flex;
	flex-direction: column;
	padding: 20px;
	max-width: 450px;
	margin-left: 3vh;
	margin-right: 3vh;
}

.button {
	margin-top: 30px;
}

h2 {
	margin-bottom: 15px;
}
