/* Table */
.table-container {
    display: flex;
	flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 20px;
	margin-top: 30px;
    margin-bottom: 50px;
	max-height: 500px;
	overflow-y: auto;
}

.table-container2 {
    display: flex;
	flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 20px;
	margin-top: 30px;
    margin-bottom: 50px;
	max-height: 500px;
	overflow-y: auto;
}

table {
    width: 1100px;
    border-collapse: collapse;
    border-radius: 25px;
    overflow: hidden;
	color: var(--text-color);
}
tbody{
    position: relative;
    bottom: -38px;
}

thead {
    backdrop-filter: blur(100px);
    background-color: #555555ad;
    position: absolute;
    width: 1100px;
    border-collapse: collapse;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 10;
}


th, td {
    border: 10px;
    padding: 11px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #00000075;
}
tbody tr:nth-child(odd) {
    background-color: #33333370;
}

/* Sperate collumn to easy apparence modification Error page */
th.col1, td.col1 {
    width: 10%;
}

th.col2, td.col2 {
    width: 25%;
}

th.col3, td.col3 {
    width: 30%;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

th.col4, td.col4 {
    width: 55%;
}

/* Sperate collumn to easy apparence modification Trace page */
th.col-1, td.col-1 {
    width: 10%;
}

th.col-2, td.col-2 {
    width: 8%;
    overflow: hidden;
    text-overflow: ellipsis;
}

th.col-3, td.col-3 {
    width: 26%;
}
/* Messages collumn with tooltip */
.col-2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.col-2-container {
    width: 6%;
}

.col-2-tooltip {
    display: none;
	position: absolute;
	text-align: center;
    border: 10px solid #cccccc00;
    max-width: 300px;
    z-index: 1;
    width: 340px;
    padding: 15px;
    background-color: rgb(48 48 48 / 69%);
    backdrop-filter: blur(6px);
    border-radius: 25px;
    margin-top: 25px;
    word-wrap: break-word;
	padding: 5px;
}

.col-2-container:hover .col-2-tooltip {
    display: block;
}

/* Messages collumn with tooltip */
.col3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.col3-container {
    position: relative;
}


.col3-tooltip {
    display: none;
	position: absolute;
	text-align: center;
    border: 10px solid #cccccc00;
    max-width: 300px;
    z-index: 1;
    width: 340px;
    padding: 15px;
    background-color: rgb(48 48 48 / 69%);
    backdrop-filter: blur(6px);
    border-radius: 25px;
    margin-top: 25px;
    word-wrap: break-word;
	padding: 5px;
}

.col3-container:hover .col3-tooltip {
    display: block;
}

/* Control button and date selection */
.button-container {
    display: flex;
    justify-content: center;
    background-color: rgba(48, 48, 48, 0.479);
    padding: 15px;
    border-radius: 25px;
    max-width: 250px; /* Establece un ancho máximo */
    margin: 10px auto; /* Centra horizontalmente y añade margen superior e inferior */
}

.button-container a {
    text-decoration: none;
}

.button-container button {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
	background-color: var(--background-hover-color);
	border-radius: 25px;
	border-color: var(--border-color);
	border-width: 1px;
	border-style: solid;
	height: 40px;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
	transition: 200ms;
}

.button-container button i {
    margin-right: 5px;
    font-size: 20px;
}

.button-container button:hover {
	background-color: var(--border-color);
	transition: 200ms;
	cursor: pointer;
}


.left-buttons {
    display: flex;
}

.right-buttons {
	display: flex;
	margin-left: 500px;
}

/* Form */
form {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

/* Date */
form input[type="date"] {
    padding: 8px;
    color: var(--text-color);
    margin: 5px;
	background-color: var(--background-hover-color);
	border-radius: 25px;
	border-color: var(--border-color);
	border-width: 1px;
	border-style: solid;
	height: 40px;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

/* Send button */
form input[type="submit"] {
    margin: 5px;
	background-color: var(--background-hover-color);
	border-radius: 25px;
	border-color: var(--border-color);
	border-width: 1px;
	border-style: solid;
	height: 40px;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
	transition: 200ms;
}

form input[type="submit"]:hover {
	background-color: var(--border-color);
	transition: 200ms;
	cursor: pointer;
}

.PageErreur {
    background-color: rgb(48 48 48 / 69%);
    width: 300px;
    display: flex;
    margin: auto;
    padding: 20px;
    border-radius: 25px;
}

/*Second tooltip*/
.tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: #333;
	color: var(--text-color);
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -100px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/* Second page buttons */
.button-container2 {
    display: flex;
    align-items: center;
    background-color: rgba(48, 48, 48, 0.479);
    padding: 15px;
    border-radius: 25px;
    overflow: hidden;
    width: fit-content;
    margin: auto;
}

.button-container2 a {
    text-decoration: none;
}

.button-container2 button {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
	background-color: var(--background-hover-color);
	border-radius: 25px;
	border-color: var(--border-color);
	border-width: 1px;
	border-style: solid;
	height: 40px;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
	transition: 200ms;
}

.button-container2 button i {
    margin-right: 5px;
    font-size: 20px;
}

.button-container2 button:hover {
	background-color: var(--border-color);
	transition: 200ms;
	cursor: pointer;
}

.left-buttons2 {
    display: flex;
    margin-right: 20px;
}

.right-buttons2 {
    display: flex;
}
