.col3, .col4{
	user-select: text;
}

.col3 {
	word-wrap: normal;
	white-space: nowrap;
	text-overflow: ellipsis;

	overflow: hidden;

	max-width: 250px;
}

.pageGroup {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.buttonContainer {
	display: flex;

	padding: 15px 10px 15px 10px;

	user-select: none;

	width: fit-content;
}

form {
	display: flex;
}

#date{
	border-radius: 7px;
	border: 0;
	font-size: 16px;
	outline: none;
	background: var(--case-field-background-color);
	color: var(--text-color);

	margin-top: 6px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 3px;
	padding-left: 14px;

	height: 36px;
	width: fit-content;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	mask: url("/public/img/icon/calendar-2-line.svg");
	background: var(--text-color);
	outline: none;
	border: solid 2px var(--case-field-border-color);

	margin-right: 10px;
}

.nologmain {
	display: block;

	text-align: center;

	margin: auto;
	margin-top: 25vh;

	user-select: none;

	width: 80%;
}

.nologtitle {
	font-size: 30px;
}
