/* Main container */
.LoginDiv {
	text-align: center;
	width: 325px;
	padding: 27px;
	user-select: none;
}

h2 {
	font-size: 30px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

form {
	display: flex;
	flex-direction: column;
}

/* All of the information in the formulary */
.Username, .Password {
	background: var(--case-field-background-color);
	border: 0;
	border-radius: 7px;
	font-size: 20px;
	padding: 15px;
	color: var(--text-color);
	width: -webkit-fill-available;
}

/* Password container and eye icon */
.PasswordContainer {
	position: relative;
	margin-bottom: 19px;
}

.ShowPasswordButton {
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	cursor: pointer;
	border: none;
	background: none;
	font-size: 12px;
}

.ri-eye-line:before {
	content: "\ecb5";
	color: var(--text-color);
	font-size: 26px;
}

.ri-eye-off-line:before {
	content: "\ecb7";
	color: var(--text-color);
	font-size: 26px;
}

input:focus {
	outline: none !important;
}

input:focus-visible {
	outline: auto;
}

input::placeholder {
	color: var(--case-field-text-color);
}

.register-link {
	color: var(--text-color);
	text-decoration: none;
	font-size: 18px;
	transition: 200ms;
}

.register-link:hover {
	color: var(--text-hover-color);
	transition: 200ms;
}
