/* Ajout des styles pour la nouvelle prÃ©sentation des utilisateurs */
#preview-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    max-width: 150vh;
    margin: 0 auto;
}

.user-cell {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 200px; /* Largeur fixe des cellules */
    height: 250px; /* Hauteur fixe des cellules (ajustez selon vos besoins) */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-cell img {
    max-width: 100%;
    max-height: 80%; /* Ajustez selon vos besoins */
    border-radius: 50%;
    object-fit: cover; /* Ajustez selon vos besoins pour conserver l'aspect de l'image */
}

.user-status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.status-ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px; /* Ajustez la marge selon vos besoins */
    opacity: 0.5; /* OpacitÃ© par dÃ©faut pour les boules non actives */
    border: 1px solid black; /* Ajout d'une bordure aux boules d'Ã©tat */
}

.status-Finished {
    background-color: green; /* Couleur pour l'Ã©tat "FinalisÃ©" */
}

.status-In-trouble {
    background-color: red; /* Couleur pour l'Ã©tat "En DifficultÃ©" */
}

.status-Working {
    background-color: yellow; /* Couleur pour l'Ã©tat "En Cours" */
}

/*Fond d'ecran (style de la page en general)*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-image: url('C:\wamp64\www\LabSupervisor\public\img\Wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}