/* Main style */
@font-face {
	font-family: "Inter";
	src: url("/public/css/import/inter.ttf");
}

* {
	margin: 0px;
	font-family: "inter", sans-serif;
}

::selection {
	background-color: var(--button-background-color);
}

::-webkit-scrollbar {
	width: 0px;
	background: none;
}

/* Input autocomplete style */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px var(--case-field-background-color) inset;
	-webkit-text-fill-color: var(--text-color);
}

body {
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-image: var(--background-image);

	/* This rule ensures that the page content extends at least the full height of the screen. */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x : hidden;
	color: var(--text-color);
}

body a {
	color: inherit;
}

#main {
	flex: 1;
}

/* Icon */
.iconEye {
	stroke: var(--text-color);
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes rotation_rev {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

.iconGreen {
	animation: rotation 30s linear infinite;
	transform-origin: center center;
}

.iconRed {
	animation: rotation 35s linear infinite;
	transform-origin: center center;
}

.iconYellow {
	animation: rotation_rev 40s linear infinite;
	transform-origin: center center;
}

/* Error */
.noScript {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;

	background-color: #ff8989;

	user-select: none;

	height: 30px;
}

/* Case style */
.mainbox {
	display: block;
	margin: auto;
	margin-top: 6vh;
	text-align: center;

	background-color: var(--background-case-color);
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: var(--case-border-color);
	color: var(--text-color);
	backdrop-filter: blur(12px);
	box-shadow: 0px 0px 50px 0px #00000030;
}

/* Title box */
.titlebox {
	padding: 15px;

	user-select: none;

	width: fit-content;
	height: fit-content;
	max-width: 70%;
}

.titlebox h2 {
	margin: 20px 10px 10px 10px;
}

.titlebox a:not(.back) {
	text-decoration: none;
	text-wrap: balance;
	text-wrap: pretty;

	padding: 10px 20px 10px 20px;
}

/* Progress bar */
.progressBox {
	position: absolute;
	left: 0;
	bottom: 0;

	border-radius: 0px 0px 18px 18px;
	overflow: hidden;

	width: 100%;
}

.progressPercent {
	margin-left: 10px;
	text-align: left;
	font-size: 14px;
	color: var(--text-color);
}

.progressBar {
	background-color: var(--button-background-color);
	border-radius: 0px 3px 3px 0px;

	height: 5px;
}

/* Information popup */
.errorPopup {
	background-color: var(--background-case-color);
	color: var(--text-color);
	padding: 10px 20px 10px 26px;
	border-radius: 10px;
	position: fixed;
	margin-top: 70px;
	margin-right: 8px;
	right: 0;
	border: 2px solid var(--case-border-color);
	backdrop-filter: blur(12px);
	box-shadow: 0px 0px 50px 0px #00000030;
	user-select: none;
}

.errorPopup i {
	font-size: 34px;
	margin-right: 25px;
	vertical-align: middle;
}

.errorPopup .button {
	margin-left: 40px;
}

/* Page system */
.pageGroup button {
	font-size: 20px;
	cursor: pointer;
}

/* Button style */
.button {
	background-color: var(--button-background-color);
	border: 0;
	border-radius: 9px;
	font-size: 16px;
	transition: 200ms;
	color: var(--button-text-color);
	text-decoration: none;

	margin: 7px;
	padding-left: 20px;
	padding-right: 20px;

	user-select: none;

	cursor: pointer;

	height: 40px;
	max-height: 40px;
}

.button:disabled {
	background-color: var(--button-hover-color);
	color: var(--text-hover-color);
	font-style: italic;

	cursor: not-allowed !important;
}

.button:hover {
	background-color: var(--button-hover-color);
	transition: 200ms;
	color: var(--text-color);
}

.back {
	position: absolute;

	background-color: transparent;
	border: 0;
	font-size: 16px;
	transition: 200ms;
	text-decoration: none;
	color: var(--text-color);

	top: 15px;
	left: 20px;

	cursor: pointer;
}

.back:hover {
	color: var(--text-hover-color);
	transition: 200ms;
}

/* Checkbox style */
.checkboxContainer {
	position: relative;
	cursor: pointer;
	padding-left: 35px;
}

.checkboxContainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border-radius: 3px;
	background-color: #fff;
	border-color: var(--case-border-color);
}

.checkboxContainer:hover input ~ .checkmark {
	background-color: #eee;
}

.checkboxContainer input:checked ~ .checkmark {
	background-color: var(--button-background-color);
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
	display: block;
}

.checkboxContainer .checkmark:after {
	left: 6px;
	top: 3px;
	width: 4px;
	height: 8px;
	border: solid var(--text-color);
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

/* Status LED */
.statusBall {
	background-color: gray;
	border-radius: 20px;
	height: 15px;
	width: 15px;
	margin: 6px;
}

.statusRed {
	background-color: red;
	box-shadow: 0px 0px 10px 0px red;
}

.statusYellow {
	background-color: #ffd000;
	box-shadow: 0px 0px 10px 0px #ffd000;
}

.statusGreen {
	background-color: lime;
	box-shadow: 0px 0px 10px 0px lime;
}

/* Board */
table {
	border-collapse: collapse;
}

.maintable {
	max-width: fit-content;
	padding: 20px;
	user-select: none;
}

.maintable th {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
	padding-bottom: 22px;
}

.maintable td {
	padding: 8px 15px 8px 15px;
}

.maintable tbody tr {
	border-top: 1px solid var(--case-border-color);
}
