* {
	margin : 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

.main {
	padding-top: 70px;
	padding-left: 25px;
	padding-right: 25px;
}

body {
	background-attachment: fixed;
	background-size: cover;
}
