/* Variables */
:root {
	--text-color: #FFFFFF;

	--navbar-background-color: #0B0A1D;
	--text-hover-color: #161BBD;
	--border-color: #0007C7;
	--background-hover-color: #05005C;
}

/* Title👀 */
.title {
	position: relative;
}

/* Main bold class */
.bold {
	font-weight: bold;
}

/* Icon */
.logo-container {
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.logo-container img {
	max-height: 50px;
	margin-right: 10px;
}

/* Profil */
.case {
	background-color: var(--background-hover-color);
	border-radius: 25px;
	border-color: var(--border-color);
	border-width: 1px;
	border-style: solid;
	max-height: 13px;
	margin-left: 20px;
	margin-right: 25px;
}

/* Navbar */
.navbar {
	user-select: none;
	background-color: var(--navbar-background-color);
	text-align: right;
	border-bottom: var(--border-color);
	border-width: 1px;
	border-bottom-style: solid;
	position: fixed;
	width: 100%;
	display: block;
}

.navbar .left{
	float: left;
}

.navbar a {
	display: inline-block;
	position: relative;

	color: var(--text-color);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	transition: 200ms;
}

.navbar a:hover {
	color: var(--text-hover-color);
	transition: 200ms;
}

.navbar .left.no-hover-color:hover {
	color: var(--text-color);
	transition: 200ms;
}

.navbar ul {
	list-style-type: none;
}

.navbar ul li {
	display: inline-block;
	text-align: right;
	position: relative;
}

.sub {
	display: none;
	position: absolute;
	width: 100%;
	background-color: var(--navbar-background-color);
	transition: 20px;
	align-content: center;
	border-radius: 25px;
	border-color: var(--border-color);
	border-width: 1px;
	border-style: solid;
	max-width: 85%;
	margin-left: 10px;
}

nav ul li:hover .sub {
	display: block;
	padding: 0px 0px;
}

.sub li {
	float: left;
}

.sub a {
	padding-top: 0px;
	padding: 14px 16px;
	border-bottom: none;
}

.sub a:hover {
	color: var(--text-hover-color);
	transition: 200ms;
}
