/* Navbar */
.navbar {
	list-style-type: none;
	user-select: none;
	text-align: center;
	background-color: var(--background-case-color);
	backdrop-filter: blur(12px);
	position: sticky;
	top: 0;
	width: 100%;
	height: 58px;
	display: block;
	z-index: 10;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px;
	border-color: var(--case-border-color);
	border-style: solid;
	box-shadow: 0px 0px 50px 0px #00000030;
}

/* Main bold class */
.bold {
	font-weight: bold;
}

/* Icon */
.navbar .icon {
	float: left;
	max-width: 45px;
	padding-right: 20px;
	overflow: visible;
	transform: translateY(-11px);
}

.navbar i {
	margin-right: 10px;
}

.navbar a:not(.not-profil, .icon) {
	display: inline-block;

	color: var(--text-color);
	text-decoration: none;
	font-size: 17px;
	transition: 200ms;
	height: 100%;
}

.navbar a:not(.profil, .sub a) {
	padding: 18px 16px 18px 16px;
}

.navbar a:hover:not(.not-profil, .no-hover-color) {
	color: var(--text-hover-color);
	transition: 200ms;
}

.navbar .profil {
	background-color: var(--button-background-color);
	border-radius: 9px;
	border: 0;
	margin-left: 17px;
	padding: 10px 0px 10px 0px;
}

.navbar li {
	display: inline-block;
}

.sub {
	display: none;
	flex-direction: column;
	text-align: left;
	position: absolute;
	background-color: var(--button-hover-color);
	border-radius: 13px;
	padding: 10px;
	transform: translateY(10px);
}

.sub a {
	width: -webkit-fill-available;
	padding: 10px;
}

.profil {
	transition: 200ms;
}

.profil:hover {
	background-color: var(--button-hover-color);
	cursor: pointer;
	transition: 200ms;
}

.profil:hover .sub {
	display: flex;
}

.buttonTheme {
	background: 0;
	border: 0;
	cursor: pointer;
	font-size: 20px;
	margin-left: 14px;
	transform: translateY(2px);
}

.buttonTheme:hover {
	color: var(--text-hover-color);
}
