@font-face {
	font-family: "Inter";
	src: url("/public/css/import/inter.ttf");
}

#screenshare {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

video {
	width: 960px;
	height: 540px;
	border-radius: 10px;
}
