table {
	width: 1100px;
	border-collapse: collapse;
	border-radius: 25px;
	overflow: hidden;
	color: var(--text-color);
}

thead {
	background-color: #6f6f6f69;
}
th, td {
	border: 10px;
	padding: 11px;
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: #00000075;
}
tbody tr:nth-child(odd) {
	background-color: #33333370;
}

th.col1, td.col1 {
	min-width: 10px;
}

th.col2, td.col2 {
	min-width: 20px;
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Messages collumn with tooltip */
.col2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100px;
}

.col2-container {
	position: relative;
}

.col2-tooltip {
	display: none;
	position: absolute;
	text-align: center;
	border: 10px solid #cccccc00;
	max-width: 300px;
	z-index: 1;
	width: 340px;
	padding: 15px;
	background-color: rgb(48 48 48 / 69%);
	backdrop-filter: blur(6px);
	border-radius: 25px;
	margin-top: 25px;
	word-wrap: break-word;
	padding: 5px;
}

.col2-container:hover .col2-tooltip {
	display: block;
}

th.col3, td.col3 {
	min-width: 20px;
}

th.col4, td.col4 {
	min-width: 100px;
}

th.col5, td.col5 {
	min-width: 100px;
}

.table-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
	text-align: center;
}
