.statusBall {
	transform: translateX(18px);
}

.col1 {
	text-align: left;
}

.description {
	font-size: 13px;
	font-style: italic;
	color: var(--text-hover-color);
	text-align: justify;

	margin-top: 5px;

	max-width: 300px;
}

.infoBox {
	color: var(--text-hover-color);

	margin: 10px 20px 10px 20px;
}

.buttonBox {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pausedTitle {
	font-size: 20px;
	font-style: italic;
	color: var(--text-hover-color);
}

.lslinkBox {
	padding: 20px;

	user-select: none;

	max-width: fit-content;
}

.lslinkButton {
	display: flex;
	flex-direction: row;
}

.item {
	display: flex;
}

.lslinkid {
	background: var(--case-field-background-color);
	border: 0;
	border-radius: 7px;
	font-size: 15px;
	color: var(--text-color);

	padding: 11px;
	margin-bottom: 19px;
	margin-right: 12px;

	max-width: 80px;
}
