.col1, .col2, .col3 {
	user-select: text;
}

.col6 {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.maintable td {
	padding: 2px 15px 2px 15px;
	height: 59px;
}

.name, .surname, .role, .classroom {
	background: var(--case-field-background-color);
	border-radius: 7px;
	padding: 15px;
	color: var(--text-color);
	border: solid 2px var(--case-field-border-color);
	font-size: 16px;

	width: 160px;
}

.link {
	margin-left: 10px;
}

input::placeholder {
	color: var(--case-field-text-color);
}
