.table-container {
	text-align: center;
	width: -webkit-fill-available;
	margin-left: 15vh;
	margin-right: 15vh;
	padding: 20px;
	user-select: none;
}

table {
	width: -webkit-fill-available;
	border-collapse: collapse;
}

thead {
	font-size: 24px;
}

.col1, .col2, .col3 {
	user-select: all;
}

.col1, .col2, .col3, .col4, .col5, .col6 {
	max-width: fit-content;
}

.col6 {
	overflow: visible;
	display: flex;
}

.name, .surname, .role, .classroom {
	background: var(--case-field-background-color);
	border: 0;
	border-radius: 7px;
	padding: 15px;
	color: var(--text-color);
	width: -webkit-fill-available;
}

input::placeholder {
	color: var(--case-field-text-color);
}

th {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
	padding-bottom: 22px;
	max-width: 50px;
}

td {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 50px;
	height: 63px;
}

tr {
	padding: 100px;
}

tr:not(.thead) {
	border: 0;
	border-top: 1px;
	border-style: solid;
	border-color: var(--case-border-color);
}
