/* Variables */
:root {
	--text-color: #FFFFFF;
    --text-hover-color: #b4c8dd;
    --background-image: url("/public/img/background/redDark.svg");

    --icon-yellow-color: #F4EB6D;

    --button-background-color: #10517c;
    --button-hover-color: #367897;
    --button-text-color: #dae7ff;

    --background-case-color: #00000069;
    --case-border-color: #a8a8a875;
    --case-field-background-color: #9e9e9e;
	--case-field-border-color: #ffffff00;
    --case-field-text-color: #ffffff90;
}
