/* Variables */
:root {
	--text-color: #113d3d;
	--text-hover-color: #439191;
	--background-image: url("/public/img/background/redLight.png");

	--icon-yellow-color: #f4c96d;

	--button-background-color: #4cb4b4;
	--button-hover-color: #8dc9c9;
	--button-text-color: #ebffff;

	--background-case-color: #ffffff69;
	--case-border-color: #ffffff75;
	--case-field-background-color: #ffffff;
	--case-field-border-color: #ffffff00;
	--case-field-text-color: #00000050;
}
