/* Variables */
:root {
	--text-color: #3d3d11;
	--text-hover-color: #bb8b23;
	--background-image: url("/public/img/background/yellowLight.jpg");

	--icon-yellow-color: #f4c96d;

	--button-background-color: #be8200;
	--button-hover-color: #dfc188;
	--button-text-color: #ffffeb;

	--background-case-color: #ffffff69;
	--case-border-color: #ffffff75;
	--case-field-background-color: #ffffff;
	--case-field-border-color: #ffffff00;
	--case-field-text-color: #00000050;
}
